/* Hintergrundbild */
body {
  background-image: url("/images/lori.jpeg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  /*   background-attachment: fixed;*/
  position: relative;
  background-color: #333;
}

/* mediaqueris für automatische Anpassung des Bildes auf handy usw.*/

.withbg {
  background-size: cover;
}
@media (max-width: 719px) {
  .withbg {
    width: 98%;
    background-image: url(seashell-720x446.jpg);
    border: 4px solid blue;
    height: 300px;
    position: sticky;
  }
}

@media (min-width: 720px) {
  .withbg {
    max-width: 980px;
    background-image: url(seashell-1660x1027.jpg);
    border: 4px solid beige;
    height: 460px;
    position: sticky;
  }
}
/* Überschrift */
h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
  text-shadow: 5px 5px rgb(253, 3, 3);
}

a {
  color: #00b7ff;
  font-size: 1rem;
}
/* Navigationsleiste */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  border-style: groove;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Hover Effect der Navigationsleiste */
li a:hover {
  background-color: rgb(228, 18, 18);
}
/* Button zum Generieren der Sprüche */
button {
  margin-top: 350px;
  padding: 20px 10px 20px 10px;
  width: 200px;
  height: 100px;
  background-color: rgb(43, 227, 107);
  color: rgb(255, 0, 0);
  font-family: sans-serif;
  font-size: 20px;
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
  border-radius: 10px;
}
/* Button Hover */
button:hover {
  background-color: rgb(7, 7, 7);
  color: whitesmoke;
}
/* Text-Box */
#textbox {
  display: block;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(14, 14, 14);
  font-size: 1.5rem;
  text-align: center;
  height: 200px;
  width: 410px;
  background-color: rgba(220, 30, 20, 0.8);
  box-shadow: 5px 5px 5px 5px rgb(255, 255, 255);
}
